@import "./base.css";

#app,
#forum {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

main {
  min-height: 60.9vh;
}

footer {
  width: 99.5vw; /* Larghezza completa rispetto alla viewport, se 100 si bugga e fa scrollare in largo */
  height: 5rem;
  text-align: center;
  padding: 1rem 0;
  background-color: rgb(1, 80, 53);
  color: hsla(160, 100%, 37%, 1);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

@media (hover: hover) {
  a {
    display: inline-block;
  }

  a:hover {
    transform: scale(1.2);
    color: hsla(160, 100%, 50%, 1);
  }
}