@import "./base.css";

#app,
#forum {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
}

main {
  min-height: 60.9vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

input,
textarea,
button {
  width: 50%;
  height: 100%;
  color: #9f9f9f;
  font-size: 1rem;
  background-color: #3e3e3e;
  border: 1px solid #333;
  border-radius: 0.3rem;
  margin-bottom: 10px;
  display: block;
}

textarea {
  resize: none;
}

input:focus {
  outline: none;
}

button {
  border: 1px solid #333;
  width: 5rem;
}

button:active {
  background-color: #222;
}

.FormMSG {
  margin: 0 auto;
}

.usr {
  width: 15%;
}

footer, .navbar {
  width: 99.5vw; /* Larghezza completa rispetto alla viewport, se 100 si bugga e fa scrollare in largo */
  height: 5rem;
  text-align: center;
  padding: 1rem 0;
  background-color: rgb(1, 80, 53);
  color: hsla(160, 100%, 37%, 1);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

@media (hover: hover) {
  a {
    display: inline-block;
  }

  a:hover {
    transform: scale(1.2);
    color: hsla(160, 100%, 50%, 1);
  }
}
